---
export interface Props {
    title?: string;
    header?: string;
    footer?: string;
    large?: boolean;
}
const { title = "StatsPage", header = "", footer = "", large = false } = Astro.props
const titleClassList = "font-black font-display text-primary " + (large ? "text-4xl md:text-5xl" : "text-3xl md:text-4xl")
const otherClassList = "uppercase tracking-widest " + (large ? "text-xl" : "text-lg")
---
<div class="flex flex-col justify-center items-center gap-1">
    {header == "" ? <></> : <p class={otherClassList}>{header}</p>}
    <p class={titleClassList}>{title}</p>
    {footer == "" ? <></> : <p class={otherClassList}>{footer}</p>}
</div>